.mat-toolbar {
  h2 {
    width: 100%;
    text-align: center;
  }
}

.container {
  margin: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 83.99px);
  max-height: calc(100% - 83.99px);
  overflow-y: auto;

  .cdk-column-date {
    text-align: center;
  }

  .cdk-column-value, .cdk-column-variation-d1, .cdk-column-variation-init, .cdk-column-volume {
    text-align: right;
  }
}
